<script>

    //get all author ajax
    function getAuthor() {
        output = '';
        $.ajax({
            url: "{% url 'author' %}",
            method: "GET",
            success: function (data) {
                x = data.author;
                for (i = 0; i < x.length; i++) {
                    output += "<tr><td>" + x[i].id + "</td><td>" + x[i].author + "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit-author' value='EIDT' data-sid=" + x[i].id + " /> <input type='button' class='btn btn-danger btn-sm btn-del-author' value='DELETE' data-sid=" + x[i].id + " /></td></tr>";
                    $("#tbody-author").html(output);
                    $("#stuid").val('');
                    $("form")[0].reset();
                }
            },
        });
    }

    function populatedata(data){
        x = data.author;
                for (i = 0; i < x.length; i++) {
                    output += "<tr><td>" + x[i].id + "</td><td>" + x[i].author + "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit-author' value='EIDT' data-sid=" + x[i].id + " /> <input type='button' class='btn btn-danger btn-sm btn-del-author' value='DELETE' data-sid=" + x[i].id + " /></td></tr>";
                    $("#tbody-author").html(output);
                    $("#stuid").val('');
                    $("form")[0].reset();
                }
    }
    //ajax post author function
    function postAuthor(id, authorName) {
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            url: "{% url 'author' %}",
            method: "POST",
            data: { author_id: id, author_name: authorName, csrfmiddlewaretoken: csr },
            success: function (data) {
                getAuthor();
            },
        });
    }

    //Add author button click function
    document.getElementById("btnauthor").addEventListener("click", promptAuthorName);
    function promptAuthorName() {
        output = '';
        id='';
        let authorName = prompt("Please enter the author name:");
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        if (authorName) {
            postAuthor(id,authorName);
        }
    }
//Edit author Name
    $("tbody").on("click", ".btn-edit-author", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        mydata = { sid: id, csrfmiddlewaretoken: csr };       
        $.ajax({
            url: "{%url 'edit_author' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                let authorName = prompt("Please enter the author name:", data.author_data.author);
                postAuthor(id, authorName);

            }
        });
    })

    //Add book button hit gets author list in dropdown
    document.getElementById("bookButton").addEventListener("click", showBookModal);
    function showBookModal() {
        dropdown = '';
        $.ajax({
            url: "{% url 'author'  %}",
            method: "GET",
            success: function (data) {
                x = data.author
                for (i = 0; i < x.length; i++) {
                    dropdown += "<option value=" + x[i].id + ">" + x[i].author + "</option>";
                }
                console.log(dropdown);
                $("#authorName").html(dropdown);
            }
        });
        document.getElementById("bookModal").style.display = "block";

    }

    //close book model
    function closeBookModal() {
        document.getElementById("bookModal").style.display = "none";
        $("form")[0].reset();
    }

    // Close the modal window when clicking outside of the modal content
    window.addEventListener("click", function (event) {
        if (event.target === document.getElementById("bookModal")) {
            closeBookModal();
        }
    });
    //Save book button hit
    $("#savebook").click(function () {
        let bookid = $("#bookid").val();
        let author_id = $("#authorName").val();
        let book = $("#bookName").val();
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        book_data = { bookid: bookid, book_name: book, author: author_id, csrfmiddlewaretoken: csr }
        console.log(book_data);
        $.ajax({
            url: "{% url 'savebook'%}",
            method: "POST",
            data: book_data,
            success: function (data) {
                if (data.status == 200) {
                    console.log(data.data);
                    $('form')[0].reset();
                }
                if (data.status == 403) {
                    console.log(data.data);
                    window.alert(data.data)
                }
            },
        });
    })
    //Delete book
    $("tbody").on("click", ".btn-del-book", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        mydata = { sid: id, csrfmiddlewaretoken: csr };
        mythis = this
        $.ajax({
            url: "{%url 'delete_book' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                if (data.status == 1) {
                    $("#msg").text(" Data Deleted ");
                    $("#msg").show();
                    $(mythis).closest("tr").fadeOut();
                } else if (data.status == 0) {
                    console.log('not delete')
                }
            },
        });
    });


    //Delete author
    $("#tbody-author").on("click", ".btn-del-author", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        mydata = { sid: id, csrfmiddlewaretoken: csr };
        mythis = this
        $.ajax({
            url: "{%url 'delete_author' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                // console.log(data)
                if (data.status == 1) {
                    $("#msg").text(" Author Removed ");
                    $("#msg").show();
                    $(mythis).closest("tr").fadeOut();
                } else if (data.status == 0) {
                    console.log('not delete')
                }
            },
        });
    });
    //Edit book
    $("tbody").on("click", ".btn-edit-book", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name='csrfmiddlewaretoken']").val();
        mydata = { sid: id, csrfmiddlewaretoken: csr };
        $.ajax({
            url: "{%url 'edit_book' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                showBookModal();
                $("#bookid").val(data.id);
                $("#bookName").val(data.book);
                $("#authorName").val(data.email);
            },
        });
    });

</script>